
@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using ISS.Core.Model.Information;
@using ISS.Common;
@using ISS.Web.Helpers;
@model ISS.Core.Model.Information.BulksToAvyx
@{
    ViewBag.Title = "Bulks to AVYX";
}

@section scripts{
    @Scripts.Render("~/bundles/information" + ISSGlobals.Version)
}
<script type="text/javascript">
    $(document).ready(function () {
        information.docBulkstoAVYXReady();
    });
</script>

@Html.Partial("Title", new KeyValuePair<String, String>("title", ViewBag.Title))

@using (Html.BeginForm("", "", FormMethod.Post, new { Id = "frmBulkstoAVYX" }))
{
    <input id="hdExtractType" name="hdExtractType" type="hidden" value="" />
    <div class="expand planForm1  form1 width100" id="contentDiv">

        @(Html.Kendo().PanelBar()
        .Name("panelbar-images")
        .Items(panelbar =>
        {
            panelbar.Add().Text("Daily Summary (pull job completes by 8:30 am EST)")
                .Content(@<div>

                    <table class="ttab">
                        @*<tr>

                            <td>
                                @Html.LabelFor(m => m.FromDate)
                            </td>
                            <td class="dspace"> </td>
                            <td>
                                @Html.LabelFor(m => m.ToDate)
                            </td>
                            <td class="dspace"> </td>
                            <td></td>
                        </tr>*@
                        @*<tr class="blankrow1"></tr>*@
                        <tr>

                            @*<td>
                                @Html.Kendo().DatePickerFor(d => d.FromDate)
                            </td>
                            <td class="dspace"> </td>
                            <td>
                                @Html.Kendo().DatePickerFor(d => d.ToDate)
                            </td>
                            <td class="dspace"> </td>*@

                            <td><label>Bulks Active: </label> <a href="javascript:void(0);" onclick="javascript: information.loadBulkstoAVYXGrid();" id="lblBActive"></a> </td>
                            <td class="dspace"> </td>

                            <td><label>Bulks Completed: </label> <a href="javascript:void(0);" onclick="javascript: information.loadBulkstoComplteGrid();" id="lblBComplete"></a> </td>
                            <td class="dspace"> </td>

                            <td><label>All Bulks in Error: </label> <a href="javascript:void(0);" onclick="javascript: information.loadBulksErrorGrid();" id="lblBError"></a></td>
                            <td class="dspace"> </td>
                            <td><input type="button" value="Search" id="btnBulktoAvyxSearch" /></td>
                        </tr>
                        <tr class="blankrow1"></tr>


                    </table>


                </div>).Expanded(true);

            panelbar.Add().Text("Search Results")
            .Content(@<div id="releaseResults">
                        <label id="FilteredColumns" class="display-filters"></label>
                        @*<div class="btnContainer floatRight">
                            <input type="submit" id="btnBulkToExport"  class="excel_btn" />
                        </div>
                        <br /><br />*@
                        @(Html.Kendo().Grid<BulksToAvyx>().Name("grdBulkstoAVYX").HtmlAttributes(new { @class = "kgridheight" }).Columns(
                columns =>
                {
                    columns.Bound(p => p.BulkNumber).Width(LOVConstants.Width.Medium1);
                    columns.Bound(p => p.StyleCode).Width(LOVConstants.Width.Medium1);
                    columns.Bound(p => p.ColorCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.AttributeCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.SizeShortDesc).Width(LOVConstants.Width.Small2);
                    columns.Bound(p => p.ApsStyleCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.ApsColorCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.ApsAttributeCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.ApsSizeShortDesc).Width(LOVConstants.Width.Small2);
                    columns.Bound(p => p.DemandWeekendDate).Width(LOVConstants.Width.Medium2).Format("{0:" + LOVConstants.DateFormatDisplay + "}");
                    columns.Bound(p => p.CurrOrderQty).Width(LOVConstants.Width.Medium2).HtmlAttributes(new { @class = "ob-right" });

                    columns.Bound(p => p.CorpBusinessUnit).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.DemandSource).Width(LOVConstants.Width.Small1);
                    columns.Bound(p => p.ProcessedToAvyx).Width(LOVConstants.Width.Small1);
                    columns.Bound(p => p.CreateDate).Width(LOVConstants.Width.Medium2).Format("{0:" + LOVConstants.DateFormatDisplay + "}");
                    columns.Bound(p => p.ReActivatedDate).Width(LOVConstants.Width.Medium2).Format("{0:" + LOVConstants.DateFormatDisplay + "}");
                    columns.Bound(p => p.ReActivatedBy).Width(LOVConstants.Width.Medium2);

                }
                )
                        .ToolBar(toolbar =>
                                  {
                                      toolbar.Excel();
                                  })
                        .Excel(excel => excel
                                       .FileName("BulksToAvyx" + DateTime.Now.ToString("yyyyMMddHHmmss") + ".xlsx")
                                       .Filterable(true)
                                       .AllPages(true)
                               )
                .AutoBind(false)
                .Scrollable(scroll =>
                {
                    scroll.Enabled(true);
                    scroll.Height("auto");
                }).Resizable(resizing => resizing.Columns(true)).Pageable(conf =>
                {
                    conf.PageSizes(ISS.Common.LOVConstants.PageSizes);
                })
                        .Filterable(filterable => filterable
                                .Extra(false)
                                .Operators(operators => operators
                                    .ForString(str => FilterHelper.FilterString(str))
                                    .ForNumber(num => FilterHelper.FilterNumber(num))
                                             .ForDate(dte => FilterHelper.FilterDate(dte))

                                )
                                )
                        .Sortable().Events(ev => ev.DataBound("information.gridDataBoundStyle"))
                        
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .ServerOperation(false)
                            .PageSize(LOVConstants.DefaultPageSizes)
                    .Read(read =>
                    {
                        read.Action("bulksToAvyx", "Information");
                        read.Data("information.DataBulkstoAVYX");
                    })



                )
                        )
       
                          @(Html.Kendo().Grid<BulksToAvyx>().Name("grdBulksComplte").HtmlAttributes(new { @class = "kgridheight" }).Columns(
                columns =>
                {
                    columns.Bound(p => p.BulkNumber).Width(LOVConstants.Width.Medium1);
                    columns.Bound(p => p.StyleCode).Width(LOVConstants.Width.Medium1);
                    columns.Bound(p => p.ColorCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.AttributeCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.SizeShortDesc).Width(LOVConstants.Width.Small2);
                    columns.Bound(p => p.ApsStyleCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.ApsColorCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.ApsAttributeCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.ApsSizeShortDesc).Width(LOVConstants.Width.Small2);
                    columns.Bound(p => p.DemandWeekendDate).Width(LOVConstants.Width.Medium2).Format("{0:" + LOVConstants.DateFormatDisplay + "}");
                    columns.Bound(p => p.CurrOrderQty).Width(LOVConstants.Width.Medium2).HtmlAttributes(new { @class = "ob-right" });

                    columns.Bound(p => p.CorpBusinessUnit).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.DemandSource).Width(LOVConstants.Width.Small1);
                    columns.Bound(p => p.ProcessedToAvyx).Width(LOVConstants.Width.Small1);
                    columns.Bound(p => p.CreateDate).Width(LOVConstants.Width.Medium2).Format("{0:" + LOVConstants.DateFormatDisplay + "}");
                    columns.Bound(p => p.CompletedDate).Width(LOVConstants.Width.Medium2).Format("{0:" + LOVConstants.DateFormatDisplay + "}");
                    columns.Bound(p => p.CompletedBy).Width(LOVConstants.Width.Medium2);

                }
                )
                                        .ToolBar(toolbar =>
                                                          {
                                                              toolbar.Excel();
                                                          })
                                                .Excel(excel => excel
                                                               .FileName("BulksComplete" + DateTime.Now.ToString("yyyyMMddHHmmss") + ".xlsx")
                                                               .Filterable(true)
                                                               .AllPages(true)
                                                       )
                .AutoBind(false)
                .Scrollable(scroll =>
                {
                    scroll.Enabled(true);
                    scroll.Height("auto");
                }).Resizable(resizing => resizing.Columns(true)).Pageable(conf =>
                {
                    conf.PageSizes(ISS.Common.LOVConstants.PageSizes);
                })
                        .Filterable(filterable => filterable
                                .Extra(false)
                                .Operators(operators => operators
                                    .ForString(str => FilterHelper.FilterString(str))
                                    .ForNumber(num => FilterHelper.FilterNumber(num))
                                             .ForDate(dte => FilterHelper.FilterDate(dte))

                                )
                                )
                        .Sortable().Events(ev => ev.DataBound("information.gridDataBoundStyle"))

                .DataSource(dataSource => dataSource
                    .Ajax()
                    .ServerOperation(false)
                            .PageSize(LOVConstants.DefaultPageSizes)
                    .Read(read =>
                    {
                        read.Action("bulksToAvyx", "Information");
                        read.Data("information.DataBulkstoAVYX");
                    })



                )
                          )
                          @(Html.Kendo().Grid<BulksToAvyx>().Name("grdBulksError").HtmlAttributes(new { @class = "kgridheight" }).Columns(
                columns =>
                {
                    columns.Bound(p => p.BulkNumber).Width(LOVConstants.Width.Medium1);
                    columns.Bound(p => p.StyleCode).Width(LOVConstants.Width.Medium1);
                    columns.Bound(p => p.ColorCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.AttributeCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.SizeShortDesc).Width(LOVConstants.Width.Small2);
                    columns.Bound(p => p.ApsStyleCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.ApsColorCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.ApsAttributeCode).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.ApsSizeShortDesc).Width(LOVConstants.Width.Small2);
                    columns.Bound(p => p.DemandWeekendDate).Width(LOVConstants.Width.Medium2).Format("{0:" + LOVConstants.DateFormatDisplay + "}");
                    columns.Bound(p => p.CurrOrderQty).Width(LOVConstants.Width.Medium2).HtmlAttributes(new { @class = "ob-right" });

                    columns.Bound(p => p.CorpBusinessUnit).Width(LOVConstants.Width.Small3);
                    columns.Bound(p => p.DemandSource).Width(LOVConstants.Width.Small1);
                    columns.Bound(p => p.ProcessedToAvyx).Width(LOVConstants.Width.Small1);
                    columns.Bound(p => p.CreateDate).Width(LOVConstants.Width.Medium2).Format("{0:" + LOVConstants.DateFormatDisplay + "}");
                    columns.Bound(p => p.ErrorMsg).Width(LOVConstants.Width.Medium2);

                }
                )
                                .ToolBar(toolbar =>
                                                          {
                                                              toolbar.Excel();
                                                          })
                                                .Excel(excel => excel
                                                               .FileName("BulksError" + DateTime.Now.ToString("yyyyMMddHHmmss") + ".xlsx")
                                                               .Filterable(true)
                                                               .AllPages(true)
                                                       )
                .AutoBind(false)
                .Scrollable(scroll =>
                {
                    scroll.Enabled(true);
                    scroll.Height("auto");
                }).Resizable(resizing => resizing.Columns(true)).Pageable(conf =>
                {
                    conf.PageSizes(ISS.Common.LOVConstants.PageSizes);
                })
                        .Filterable(filterable => filterable
                                .Extra(false)
                                .Operators(operators => operators
                                    .ForString(str => FilterHelper.FilterString(str))
                                    .ForNumber(num => FilterHelper.FilterNumber(num))
                                             .ForDate(dte => FilterHelper.FilterDate(dte))

                                )
                                )
                        .Sortable().Events(ev => ev.DataBound("information.gridDataBoundStyle"))

                .DataSource(dataSource => dataSource
                    .Ajax()
                    .ServerOperation(false)
                            .PageSize(LOVConstants.DefaultPageSizes)
                    .Read(read =>
                    {
                        read.Action("bulksToAvyx", "Information");
                        read.Data("information.DataBulkstoAVYX");
                    })



                )
                          )
                    </div>).Expanded(true);

        })


                    )

</div>
}
<div class="clear"></div>


