

@{

//insert ta ble
String str="Requisition|ORDER_LABEL|ORDER_VERSION|SUPER_ORDER|PARENT_ORDER|STYLE_CD|COLOR_CD|ATTRIBUTE_CD|SIZE_CD|DEMAND_LOC|PROD_FAMILY_CD|FABRIC_GROUP|MAKE_OR_BUY_CD|MFG_PLANT|PIPELINE_CATEGORY_CD|DEMAND_QTY|CURR_DUE_DATE|CURR_ORDER_QTY|TOTAL_CURR_ORDER_QTY|MATL_TYPE_CD|ROUTING_ID|BILL_OF_MTRLS_ID|MFG_PATH_ID|BOM_SPEC_ID|MFG_STYLE_CD|MFG_COLOR_CD|MFG_ATTRIBUTE_CD|MFG_SIZE_CD|MASTER_ORDER_NO|CUTTING_ALT|USAGE|STD_USAGE|STD_LOSS|WASTE_FACTOR|FABRIC_TYPE|DYE_CD|DYE_SHADE_CD|MACHINE_TYPE_CD|CUT_METHOD|PULL_FROM_STOCK_IND|CYLINDER_SIZE|FINISHED_WIDTH|CONDITIONED_WIDTH|SPREAD_COMP_CD|SPREAD_TYPE_CD|VENDOR_NO|ALLOCATION_IND|OFFLOAD_IND|SCRAP_FACTOR|PACK_CD|CATEGORY_CD|UNIT_OF_MEASURE|RESOURCE_ID|ACTIVITY_ID|PLANNING_LEADTIME|COMBINE_IND|PLAN_DATE|MFG_REVISION_NO|MACHINE_CUT|SCHED_SHIP_DATE|ASRMT_CD|CAPACITY_ALLOC|EXPEDITE_PRIORITY|COMBINE_FAB_IND";

//VB
String val ="645441801|1|645441801||09453|150|------|NF|KM|----||B|5Z|SEW|2784|20150612|2784|2784|00|SOURCED          5Z||5Z||||||||0|0|0|0||||||N|0|0|0||||||0|||DZ|N/A|745063912|182|Y|20150501|0|0|20150430||BRA_R09453|50|Y";


String val3= "645441775|1|645441775||09453|150|------|NF|KM|----||B|5Z|SEW|120|20150612|120|120|00|SOURCED          5Z||KM||||||||0|0|0|0||||||N|0|0|0||||||0|||DZ|N/A|745063883|182|Y|20150424|0|0|20150430||BRA_R09453|50|Y";

//Insert order
str = "SUPER_ORDER|ORDER_VERSION|ORDER_ID|PRODUCTION_STATUS|DEMAND_TYPE|DEMAND_QTY|ORIG_ORDER_QTY|ORIG_DUE_DATE|REMOTE_UPDATE_CD|REMOTE_STATUS_CD|REMOTE_RELEASE_DATE|REMOTE_XCPN_REASON|DOZENS_ONLY_IND|CREATE_BD_IND|PRIORITY|SPREAD_TYPE_CD|CORP_BUSINESS_UNIT|PLANNER_CD|DEMAND_SOURCE|DEMAND_DRIVER|RULE_NUMBER|REQSN_VERSION|REQSN_ID|ISS_ORDER_TYPE_CD|LW_COMPANY|LW_VENDOR_NO|LW_VENDOR_LOC|VENDOR_ID|VENDOR_SUFFIX|DEMAND_DATE|DISCRETE_IND|EXPEDITE_PRIORITY";

//val="645441775|1|RQ30006|L|DD|120|0|20150612|||||N|Y|999999999||SHR|PLANN||ISS|9999|1|RQ30006|SR|3850|62831|ER02|0|0|20150611|Y|50";

//Web APP
 //val3="645441812|1|RQ30027|L|DD|||20150508|||||||999999999||BRA|PLANN||ISS|9999||RQ30027|RQ|3850|62831|ER02|10815|101|||";

////////
//Insert requsition

str="REQSN_VERSION|REQSN_ID|CREATE_DATE|UPDATE_DATE|CREATE_USER_ID|UPDATE_USER_ID|PRODUCTION_STATUS|REQSN_STATUS_CD|CONTACT_PLANNER_CD|SRC_CONTACT_CD|REQSN_APPROVER_CD|DEMAND_LOC|CURR_DUE_DATE|SEASON_YEAR|SEASON_NAME|ISS_PROGRAM_TYPE_CD|DETAIL_TRKG_IND|APPRV_SUBMIT_DATE|APPRV_RESPONSE_DATE|RLSE_TO_SRC_DATE|EXTR_BY_SRC_DATE|REJ_BY_SRC_DATE|TRANSP_MODE_CD|OVER_PCT|UNDER_PCT|CORP_BUSINESS_UNIT|VENDOR_ID|VENDOR_SUFFIX|LW_COMPANY|LW_VENDOR_NO|LW_VENDOR_LOC";

val = "1|RQ33640|20150528|20150528|oprsprod|oprsprod|L|UC|ABP|ARB|PLANR|KM|20150606||||N||||||NS|0|0|BRA|10815|101|3850|62831|ER02";

//WEB  insert req
//val3="1|RQ30027|20150428|20150428|lijohn|lijohn|L|UC|A BUDHIRAJA - AAB|ADA|PLANR|KM|20150508|2015|TRANS|HOP|N||||||011|0|0|BRA|10815|101|3850|62831|ER02";

//String val4="1|RQ30006|20150423|20150423|lijohn|lijohn|L|UC|AAB|ADA|PLANR|KM|20150430||||N||||||NS|0|0|BRA|10815|101|3850|62831|ER02";

//str= "REQSN_VERSION|REQSN_ID|CREATE_DATE|UPDATE_DATE|CREATE_USER_ID|UPDATE_USER_ID|PRODUCTION_STATUS|REQSN_STATUS_CD|CONTACT_PLANNER_CD|SRC_CONTACT_CD|REQSN_APPROVER_CD|DEMAND_LOC|CURR_DUE_DATE|SEASON_YEAR|SEASON_NAME|ISS_PROGRAM_TYPE_CD|DETAIL_TRKG_IND|APPRV_SUBMIT_DATE|APPRV_RESPONSE_DATE|RLSE_TO_SRC_DATE|EXTR_BY_SRC_DATE|REJ_BY_SRC_DATE|TRANSP_MODE_CD|OVER_PCT|UNDER_PCT|CORP_BUSINESS_UNIT|VENDOR_ID|VENDOR_SUFFIX|LW_COMPANY|LW_VENDOR_NO|LW_VENDOR_LOC";

//val = "1|RQ30107|20150430|20150430|lijohn|lijohn|L|UC||ADA|PLANR|KM|20150529|2015|SPRING|HCM|N||||||010|0|0|BRA|10815|101|3850|62831|ER02"; 

//val="WO|ORDER_LABEL|ORDER_VERSION|SUPER_ORDER|PARENT_ORDER|STYLE_CD|COLOR_CD|ATTRIBUTE_CD|SIZE_CD|DEMAND_LOC|PROD_FAMILY_CD|FABRIC_GROUP|MAKE_OR_BUY_CD|MFG_PLANT|PIPELINE_CATEGORY_CD|DEMAND_QTY|CURR_DUE_DATE|CURR_ORDER_QTY|TOTAL_CURR_ORDER_QTY|MATL_TYPE_CD|ROUTING_ID|BILL_OF_MTRLS_ID|MFG_PATH_ID|BOM_SPEC_ID|MFG_STYLE_CD|MFG_COLOR_CD|MFG_ATTRIBUTE_CD|MFG_SIZE_CD|MASTER_ORDER_NO|CUTTING_ALT|USAGE|STD_USAGE|STD_LOSS|WASTE_FACTOR|FABRIC_TYPE|DYE_CD|DYE_SHADE_CD|MACHINE_TYPE_CD|CUT_METHOD|PULL_FROM_STOCK_IND|CYLINDER_SIZE|FINISHED_WIDTH|CONDITIONED_WIDTH|SPREAD_COMP_CD|SPREAD_TYPE_CD|VENDOR_NO|ALLOCATION_IND|OFFLOAD_IND|SCRAP_FACTOR|PACK_CD|CATEGORY_CD|UNIT_OF_MEASURE|RESOURCE_ID|ACTIVITY_ID|PLANNING_LEADTIME|COMBINE_IND|PLAN_DATE|MFG_REVISION_NO|MACHINE_CUT|SCHED_SHIP_DATE|ASRMT_CD|CAPACITY_ALLOC|EXPEDITE_PRIORITY|COMBINE_FAB_IND";
//val="645746438|1|645746438||5180|XY|------|43|G4|----|JERSEY|M|23|SEW|120|20150710|120|120|00|5180-02-S-XL     23|ELS1|23|||||||AL2|0|0|0|0||||||N|0|0|0||||||0.021|0|60|DZ|N/A|745064209|35|Y|20150605|55|0|||T_TAPE|50|Y";

//val3="645746439|1|645746438|645746438|5180A|XY|------|43|6D|----|JERSEY|M|6D|CUT|120|20150605|120|120|CT|5180A-S-L        6D|5180BLOCKBAL2|6D||||||||1|1|0|0||---||||N|0|0|0||||||0|||DZ||745064208|6|Y|20150530|0|0||N||50|Y";

String val4="645746440|1|645746438|645746439|1999FD|000|DYEL2L|27|6D|----|JERSEY|M|6D|DBF|2|20150529|2.29444444444444|2.29444444444444|F|1999FDDYEL2L27   6D|6D27|6D|5180BLOCKB||||||AL2|0.2065|0.229444444444444|0.04|0.1||L2L|D|T3|B1|N|30|27|27|95|T||||0|||LB|N/A|745064205|11|Y|20150518|0|13||N||50|Y";

String val5 = "645746441|1|645746438|645746439|2842DK|000|DYEL2L|22|6D|----|JERSEY|M|6D|DBF|1|20150529|1.00222222222222|1.00222222222222|F|2842DKDYEL2L22   6D|6D22|6D|5180BLOCKB||||||AL2|0.0902|0.100222222222222|0.0525|0.1||L2L|D|T3|S4|N|20|22|22|84|T||||0|||LB|N/A|745064206|11|Y|20150518|0|22||N||50|Y";

String val6 = "645746442|1|645746438|645746439|2842DK|000|DYEL2L|22|6D|----|JERSEY|M|6D|DBF|62|20150529|61.8221079691517|61.8221079691517|F|2842DKDYEL2L22   6D|6D22|6D|5180BLOCKB||||||AL2|6.0122|6.18221079691517|0.0525|0.0275||L2L|D|T3|T41|N|20|22|22|30|S||||0|||LB|N/A|745064207|11|Y|20150518|0|22||N||50|Y";


//Order insert

//val = "SUPER_ORDER|ORDER_VERSION|ORDER_ID|PRODUCTION_STATUS|DEMAND_TYPE|DEMAND_QTY|ORIG_ORDER_QTY|ORIG_DUE_DATE|REMOTE_UPDATE_CD|REMOTE_STATUS_CD|REMOTE_RELEASE_DATE|REMOTE_XCPN_REASON|DOZENS_ONLY_IND|CREATE_BD_IND|PRIORITY|SPREAD_TYPE_CD|CORP_BUSINESS_UNIT|PLANNER_CD|DEMAND_SOURCE|DEMAND_DRIVER|RULE_NUMBER|REQSN_VERSION|REQSN_ID|ISS_ORDER_TYPE_CD|LW_COMPANY|LW_VENDOR_NO|LW_VENDOR_LOC|VENDOR_ID|VENDOR_SUFFIX|DEMAND_DATE|DISCRETE_IND|EXPEDITE_PRIORITY";
//val = "645746438|1||L|FC|120|0|20150710|||||N|Y|999999999||SHR|KPGRS|||0|1||SW|0|0||0|0|20150517|Y|50";

val3 = "1|RQ33643|20150528|20150528|HBIRESlijohn|HBIRESlijohn|L|UC|AAB|ADA|PLANR|KM|20150530||||N||||||NS|0|0|BRA|10815|101|3850|62831|ER02";

    var arr1=str.Split('|');
    var arr2=val.Split('|');
    var arr3=val3.Split('|');
    var arr4 = val4.Split('|');

    var arr5 = val5.Split('|');

    var arr6 = val6.Split('|');
            
   // var arr4=val4.Split('|');





   // select a.mfg_path_id,a.prime_mfg_location,a.routing_id,a.bill_of_mtrls_id,nvl(a.scrap_factor,0),nvl(b.planner_cd,'UNK'),nvl(a.make_or_buy_cd,'M'),nvl(s.unit_of_measure,'EA'),nvl(b.lead_time,0)*7,nvl(a.REVISION_NO,0), nvl(p.capacity_alloc,'')  from MFG_PATH a , MFG_PATH_CHP b ,style s, prod_family p where a.style_cd = '09453' and a.color_cd = '150' and a.attribute_cd = '------' and a.size_cd = 'NF' and a.mfg_path_id = 'KM' and a.revision_no = 0 and a.effect_end_date >=sysdate  and a.style_cd = b.style_cd (+)  AND a.color_cd = b.color_cd (+)  AND a.attribute_cd = b.attribute_cd (+)  AND a.size_cd  = b.size_cd (+)  AND a.mfg_path_id = b.mfg_path_id (+)  and a.revision_no = b.revision_no (+) AND a.style_cd  = s.style_cd (+)   and s.corp_prod_family_cd = p.prod_family_cd (+) order by a.mfg_path_id, a.prime_mfg_location
}

<table>
    <tr>
        <td>Field</td>
        <td>VB </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
        @for (int i = 0; i < arr1.Length; i++)
        {
   
            <tr>
                <td>@arr1[i]</td>
                <td>@arr2[i]</td>
                <td>@arr3[i]</td>
               @* <td>@arr4[i]</td>
    <td>@arr5[i]</td>
    <td>@arr6[i]</td>*@

                
            </tr>   
        }
   
</table>

